<h1>Editar Personas</h1>
<hr>

<form (ngSubmit)="actualizar(f)" #f="ngForm" >
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text"
               class="form-control"
               id="nombre"
               aria-describedby="ayudaNombre"
               name="nombre"
               [(ngModel)]="persona.nombre">
        <small id="ayudaNombre" class="form-text text-muted">Su nombre tal cual aparece en el DNI</small>
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text"
               class="form-control"
               id="apellid0"
               name="apellido"
               [(ngModel)]="persona.apellido">
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
